.fp-h1 {
  font-size: 2.2rem;
}

.fp-h2 {
  font-size: 1.9rem;
}

.fp-h3 {
  font-size: 1.5rem;
}

.fp-faq-heading {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  /* .home-h1 {
    font-size: 35px;
  } */
}
